{% extends 'base.html' %}

{% block title %}<title>Biblioteca local - Inicio</title>{% endblock %}

{% block content %}
    
    <h1 class="h1">Livros adicionados recentemente</h1>
    <p>Você visitou essa página {{ num_visitas }} {% if num_visitas == 1%}vez{% else %}vezes{% endif %}</p>

    <div class="col-sm-6">
        {% for livro in livros %}
            <div class="card m-3">
                <div class="card-header">
                    <h1 class="h3 card-title">{{ livro.titulo }}</h1>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ livro.sumario }}</p>
                    <a href="" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}