{% extends 'base.html' %}

{% block title %}<title>Biblioteca local - {{ autor.nome}} {% if autor.preposicao %}{{autor.preposicao}}{% endif %} {{ autor.sobrenome }}</title>{% endblock %}

{% block content %}
    <h1>Autor:
        {{ autor.nome }}

        {% if autor.preposicao %}
            {{ autor.preposicao }}
        {% endif %}

        {{ autor.sobrenome }}
    </h1>
    <p>{{ autor.data_nascimento }}</p>

    <h2>Livros</h2>
    <hr>
    {% if autor.livro_set %}
        {% for livro in autor.livro_set.all %}
            <p>
                <a href="{% url 'livro-detalhes' livro.pk %}">{{ livro.titulo }}</a>
                {{ livro.sumario | linebreaks}}
            </p>
        {% endfor %}
    {% else %}
        <p>Não há livros desse autor na biblioteca :(</p>
    {% endif %}
{% endblock %}