{% extends 'base.html' %}

{% block title %}<title>Biblioteca local - Mutuários</title>{% endblock %}

{% block content %}
    <h1>Todos os mutuários</h1>

    {% if mutuarios %}
        {% for mutuario in mutuarios %}
            <ul>
                {% if mutuario.livro.pk %}
                    <li class="{% if mutuario.esta_atrasado %}text-danger{% endif %}">
                        <a href="{% url 'livro-detalhes' mutuario.livro.pk %}">{{ mutuario.livro.titulo }}</a> ({{ mutuario.devolucao }}) - {{ mutuario.mutuario.first_name }} {{ mutuario.mutuario.last_name }} - {% if perms.catalogo.can_mark_returned %}<a href="{% url 'renovacao-livro' mutuario.id %}">Renovação</a>{% endif %}
                    </li>
                {% else %}
                    <li>Livro não encontrado no banco de dados</li>
                {% endif %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}